@model IEnumerable<webapp.Models.Admin.ReportPropertyViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Property Reports";
}

<div class="row align-items-center p-3">
    <div class="col-auto">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="card p-3 mt-3 border-0 shadow-sm">
	<div class="dashboard_property shadow-none bg-transparent">
		<div class="table-responsive">
			<table class="table" id="reportTable" width="100%">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Reason</th>
						<th scope="col">Report Date</th>
						<th scope="col">Property ID</th>
						<th scope="col">Created By</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var report in Model)
					{
						<tr>
							<td>@report.Reason</td>
							<td>@report.ReportDate.ToString("dd MMM yyyy HH:mm")</td>
                            <td>
								<a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@report.PropertyId" target="_blank" class="text-primary text-decoration-underline">@report.PropertyId</a>
							</td>
                            <td>
								@if (report.IsCurrentUser)
								{
									<span>@report.UserName</span>
								}
								else
								{
									<a asp-controller="Admin" asp-action="UserList" asp-route-username="@report.UserName" class="text-primary">@report.UserName</a>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>

@section Scripts {
	<script>
		var table = $('#reportTable').DataTable({
			order: [[1, 'desc']],
			columnDefs: [
				{
					orderable: false,
					searchable: false,
					targets: -1,
				},
				{
					orderSequence: ['asc', 'desc'],
					targets: "_all"
				}
			],
			initComplete: function (settings, json) {
				$("#reportTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
				$('.dt-length').addClass("d-flex align-items-center")
				$('.dt-length').find(".form-select").addClass("me-2")
				$('.dt-length, .dt-info').closest(".row").addClass("mx-1")
			},
		});
	</script>
}
