@model HomepageViewModel
@using System;
@using System.Security.Cryptography;
@using System.Text;
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

@* Hero Banner *@
<div class="hero-header video-banner">
	<div class="overlay"></div>

	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="~/img/video.mp4" type="video/mp4">
	</video>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9 col-md-11 col-sm-12">
				<div class="inner-banner-text text-center">
					<h1 class="text-light">Discover A Beautiful<br>Place With Us</h1>
					<p class="text-light">Would you explore nature paradise in the world, let't find the best property in Malaysia with us.</p>
				</div>
				<div class="search-from-clasic mt-5">
					<div class="hero-search-content">
						<div class="row">
							<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 pe-xl-0 pe-lg-0 pe-md-0">
								<div class="classic-search-box">
									<div class="form-group full">
										<div class="input-with-icon">
											<input type="text" class="form-control" id="search-location" placeholder="Search for a location" autocomplete="off">
											<img src="~/img/pin.svg" width="20" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
								<div class="form-group">
									<button type="button" class="btn btn-primary full-width" id="search-button">Search</button>
								</div>
							</div>
						</div>
					</div>
					<div id="suggestions" class="list-group"></div>

				</div>
			</div>
		</div>
	</div>
</div>

@* partners *@
<section class="gray-simple min">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center mb-4">
					<h4>Trusted by 2000+ companies</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-12">
				<div class="brand-slide" id="brand-slide">

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/airbnb.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/amazon.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/googl.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/pp.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/samsung.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/slack.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/spotify.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/pp.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/samsung.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/slack.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="~/img/spotify.png" class="img-fluid" alt="">
						</figure>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
<div class="clearfix"></div>

@* Latest Property *@
<section class="mid">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center mb-4">
					<h2>Recent Property in Malaysia</h2>
					<p>Explore the latest property listings in Malaysia, tailored to your needs and preferences. Find your perfect home today.</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center gx-3 gy-4">
			@foreach (var property in Model.HomepagePropertyViewModel) 
			{
				@if (property.ListingStatus == "Active")
					{<!-- Single Property -->
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
						<div class="veshm-list-wraps">
							@if(property.Status == "Rent")
							{
								<div class="veshm-type">
									<span>For @property.Status</span>
								</div>
							}
							else if (property.Status == "Sale")
							{
								<div class="veshm-type fr-sale">
									<span>For @property.Status</span>
								</div>
							}

							<div class="veshm-list-thumb">
@* 								<button type="button" class="compare-btn"><i class="fa-solid fa-repeat"></i>Compare</button> *@
								<div class="veshm-list-img-slide">
									<div class="veshm-list-click">
										@if (property.GalleryPath.All(string.IsNullOrWhiteSpace))
										{
											<div>
												<a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@property.Id">
													<img src="uploads/property/default/default_property.jpeg" class="slick-img mx-auto" alt="">
												</a>
											</div>
										}
										@foreach (var img in property.GalleryPath) {

											<div>
												<a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@property.Id">
													<img src="/uploads/property/@(property.GalleryFolder)/@img" class="slick-img mx-auto" alt="">
												</a>
											</div>
										}
									</div>
								</div>
							</div>
							<div class="veshm-list-block">
								<div class="veshm-tags trending"><span><i class="fa-solid fa-meteor"></i>Recent</span></div>
								<div class="veshm-list-head">
									<div class="veshm-list-head-caption">
										<div class="rlhc-price">
											<h4 class="rlhc-price-name theme-cl">@property.Price.ToString("C")
												@if(property.Status == "Rent") {<span class="monthly">/Months</span>}
												else {
													<span class="monthly">One Time</span>
												}
											</h4>
										</div>
										<div class="listing-short-detail-flex">
											<h5 class="rlhc-title-name verified"><a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@property.Id"class="prt-link-detail">@property.Title</a></h5>
											<div class="rlhc-prt-location"><img src="~/img/pin.svg" width="16" class="me-1" alt="">@property.AddressLine</div>
										</div>
									</div>
									<div class="veshm-list-head-flex">
										<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
									</div>
								</div>

								<div class="veshm-list-footer">
									<div class="veshm-list-circls">
										<ul>
											<li><span class="bed-inf"><i class="fa-solid fa-bed"></i></span>@property.Bedrooms Bed</li>
											<li><span class="bath-inf"><i class="fa-solid fa-bath"></i></span>@property.Bathrooms Ba</li>
											<li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>@property.Area Sft</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- End Single Property -->
				}
			}
		</div>

	</div>
</section>

@* Better Service *@
<section class="classic-bg">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center light">
					<h2>We Provide Better Services For You</h2>
					<p>Enhancing Your Real Estate Experience with Superior Services</p>
				</div>
			</div>
		</div>

		<div class="row gy-5">

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-house-circle-check"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Buy properties</h4>
						<p>Explore a wide selection of properties at great prices. Whether you're looking for your dream home or a lucrative investment, find it here.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-house-user"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Sell Your House</h4>
						<p>Get the best deal when selling your home. Our expert agents are dedicated to making the selling process smooth and profitable for you.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-house-flood-water"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Find Mortgage</h4>
						<p>Secure the best mortgage deals with ease. Our specialists are here to help you find flexible and affordable financing options.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-fire-flame-curved"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>High Quality</h4>
						<p>Quality is at the heart of everything we do. We ensure that all our properties meet the highest standards to guarantee your satisfaction.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-lira-sign"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Friendly Price</h4>
						<p>Affordability meets quality. Enjoy competitive pricing without compromising on the quality of your new home.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-brands fa-rocketchat"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Easy Communication</h4>
						<p>Experience hassle-free communication. Our team is committed to being responsive and transparent throughout your real estate journey.</p>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>

@* Select Your City *@
<section>
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Select Your State</h2>
					<p>Choose Your State to Begin Your Real Estate Journey</p>
				</div>
			</div>
		</div>

		<div class="row g-xl-3 g-lg-3">

			@foreach (var state in Model.States)
			{
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="veshm-location-prt">
						<div class="veshm-location-lists">@state.PropertyCount Lists</div>
						<a href="search-property.html" class="veshm-location-figure">
							<img src="~/img/state/@(state.State).jpg" style="height: 425px; width: 325px; object-fit: cover" class="img-fluid" alt="">
						</a>
						<div class="veshm-location-content">
							<h4>@state.State</h4>
							<span class="resy-98">Malaysia</span>
						</div>
					</div>
				</div>
			}
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<a href="JavaScript:Void(0);" class="btn btn-outline-gray">Explore More States<i class="fa-regular fa-circle-right ms-2"></i></a>
			</div>
		</div>

	</div>
</section>

@* Explore Egents *@
<section class="gray">
	<div class="container">

		<div class="row align-items-center">

			<div class="col-xl-4 col-lg-4 col-md-12">
				<div class="sec-heading">
					<h2 class="mb-3">Browse Agents</h2>
					<p class="text-paragraph">Meet our trusted real estate agents. Discover professionals with the expertise and local knowledge to help you make the best property decisions.</p>
				</div>
			</div>

			<div class="col-xl-8 col-lg-8 col-md-12">
				<div class="side-slide">

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>23 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Amber M. Felton</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">410 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>62 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Agnes R. Boggess</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">143 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>84 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Elizabeth A. Sanchez</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">216 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>34 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Jerry E. Middleton</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">147 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>89 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Lamont B. Morrissey</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">432 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Single Slide -->
					<div class="single-slide">
						<div class="veshm-agent-wrap">
							<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
							<div class="veshm-list-75"><span>22 Property</span></div>
							<div class="veshm-agent-thumb">
								<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
							</div>
							<div class="veshm-agent-content">
								<h4 class="vesh-content-title">Bryan H. Radley</h4>
								<div class="vesh-aget-rates">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<span class="resy-98">370 Reviews</span>
								</div>
								<div class="vesh-contact">
									<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>
								</div>
							</div>
							<div class="veshm-agent-footer">
								<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
								<div class="veshm-agent-social">
									<ul>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>

@* Review *@
<section>
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Good Reviews By Customers</h2>
					<p>Read what our satisfied customers have to say. Our reviews showcase the dedication and excellent service provided by our agents.</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center gx-4 gy-4">

			<!-- Single Review -->
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="veshm-reviews-box">
					<div class="veshm-reviews-flex">
						<div class="veshm-reviews-thumb">
							<div class="veshm-reviews-figure"><img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt=""></div>
						</div>
						<div class="veshm-reviews-caption">
							<div class="veshm-reviews-title"><h4>Lucia E. Nugent</h4></div>
							<div class="veshm-reviews-designation"><span>CEO of Climber</span></div>
							<div class="veshm-reviews-rates">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star deactive"></i>
							</div>
						</div>
					</div>
					<div class="veshm-reviews-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
						<figure class="mt-2 mb-0"><img src="~/img/brand/a.webp" class="img-fluid" width="120" alt=""></figure>
					</div>
				</div>
			</div>

			<!-- Single Review -->
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="veshm-reviews-box">
					<div class="veshm-reviews-flex">
						<div class="veshm-reviews-thumb">
							<div class="veshm-reviews-figure"><img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt=""></div>
						</div>
						<div class="veshm-reviews-caption">
							<div class="veshm-reviews-title"><h4>Brenda R. Smith</h4></div>
							<div class="veshm-reviews-designation"><span>Founder of Yeloower</span></div>
							<div class="veshm-reviews-rates">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
						</div>
					</div>
					<div class="veshm-reviews-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
						<figure class="mt-2 mb-0"><img src="~/img/brand/b.webp" class="img-fluid" width="120" alt=""></figure>
					</div>
				</div>
			</div>

			<!-- Single Review -->
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="veshm-reviews-box">
					<div class="veshm-reviews-flex">
						<div class="veshm-reviews-thumb">
							<div class="veshm-reviews-figure"><img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt=""></div>
						</div>
						<div class="veshm-reviews-caption">
							<div class="veshm-reviews-title"><h4>Brian B. Wilkerson</h4></div>
							<div class="veshm-reviews-designation"><span>CEO of Mark Soft</span></div>
							<div class="veshm-reviews-rates">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
						</div>
					</div>
					<div class="veshm-reviews-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
						<figure class="mt-2 mb-0"><img src="~/img/brand/c.webp" class="img-fluid" width="120" alt=""></figure>
					</div>
				</div>
			</div>

			<!-- Single Review -->
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="veshm-reviews-box">
					<div class="veshm-reviews-flex">
						<div class="veshm-reviews-thumb">
							<div class="veshm-reviews-figure"><img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt=""></div>
						</div>
						<div class="veshm-reviews-caption">
							<div class="veshm-reviews-title"><h4>Miguel L. Benbow</h4></div>
							<div class="veshm-reviews-designation"><span>Founder of Mitche LTD</span></div>
							<div class="veshm-reviews-rates">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star deactive"></i>
							</div>
						</div>
					</div>
					<div class="veshm-reviews-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
						<figure class="mt-2 mb-0"><img src="~/img/brand/h.webp" class="img-fluid" width="120" alt=""></figure>
					</div>
				</div>
			</div>

			<!-- Single Review -->
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="veshm-reviews-box">
					<div class="veshm-reviews-flex">
						<div class="veshm-reviews-thumb">
							<div class="veshm-reviews-figure"><img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt=""></div>
						</div>
						<div class="veshm-reviews-caption">
							<div class="veshm-reviews-title"><h4>Hilda A. Sheppard</h4></div>
							<div class="veshm-reviews-designation"><span>CEO of Doodle</span></div>
							<div class="veshm-reviews-rates">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
						</div>
					</div>
					<div class="veshm-reviews-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
						<figure class="mt-2 mb-0"><img src="~/img/brand/g.webp" class="img-fluid" width="120" alt=""></figure>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>


@section Scripts {
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const searchInput = document.getElementById('search-location');
			const suggestionsBox = document.getElementById('suggestions');
			const searchButton = document.getElementById('search-button');

			searchInput.addEventListener('input', function () {
				const query = this.value;
				if (query.length > 2) {
					fetch(`/Home/GetLocationSuggestions?query=${query}`)
						.then(response => response.json())
						.then(data => {
							suggestionsBox.innerHTML = '';
							if (data.length > 0) {
								data.forEach(item => {
									const suggestionItem = document.createElement('a');
									suggestionItem.href = `#`;
									suggestionItem.className = 'list-group-item list-group-item-action';
									suggestionItem.textContent = item;
									suggestionItem.addEventListener('click', function () {
										searchInput.value = item;
										suggestionsBox.innerHTML = '';
										performSearch(item);
									});
									suggestionsBox.appendChild(suggestionItem);
								});
							} else {
								const noResultItem = document.createElement('div');
								noResultItem.className = 'list-group-item';
								noResultItem.textContent = 'No property available';
								suggestionsBox.appendChild(noResultItem);
							}
						});
				} else {
					suggestionsBox.innerHTML = '';
				}
			});

			searchButton.addEventListener('click', function () {
				const query = searchInput.value;
				performSearch(query);
			});

			function performSearch(query) {
				window.location.href = `/Home/SearchResults?query=${query}`;
			}
		});
	</script>
}


