@model SearchResultViewModel
@{
    ViewData["Title"] = "Search Results";
}

<div class="page-title" style="background:#017efa url('@Url.Content("~/img/page-title.png")') no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="ipt-title">Property Result</h2>
                <span class="ipn-subtitle">Lists of our all expert agents</span>
            </div>
        </div>
    </div>
</div>

<section class="over-top micler gray-simple">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="page-sidebar p-0">
                    <a class="filter_links" data-bs-toggle="collapse" href="#fltbox" role="button" aria-expanded="false" aria-controls="fltbox">Open Advance Filter<i class="fa fa-sliders-h ml-2"></i></a>
                    <div class="collapse" id="fltbox">
                        <!-- Find New Property -->
                        <div class="sidebar-widgets p-4">
                            <form id="filterForm" method="get" action="@Url.Action("SearchResults", "Home")">
                                <div class="form-group">
                                    <input type="text" id="query" name="query" class="form-control" placeholder="Location">
                                </div>

                                <div class="form-group">
                                    <select id="city" name="city" class="select-normal">
                                        <option value="">Choose City</option>
                                        @foreach (var city in Model.Cities)
                                        {
                                            <option value="@city">@city</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="status" name="status" class="select-normal">
                                        <option value="">Rent or Sale</option>
                                        @foreach (var status in Model.statusList)
                                        {
                                            <option value="@status">@status</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="types" name="types" class="select-normal">
                                        <option value="">Property Types</option>
                                        @foreach (var types in Model.PropertyTypes)
                                        {
                                            <option value="@types">@types</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="bedrooms" name="bedrooms" class="select-normal">
                                        <option value="0">Min Bedrooms</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="bathrooms" name="bathrooms" class="select-normal">
                                        <option value="0">Min Bathrooms</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="garage" name="garage" class="select-normal">
                                        <option value="0">Garage Choose</option>
                                        <option value="1">Any Type</option>
                                        <option value="2">Yes</option>
                                        <option value="3">No</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="builtYear" name="builtYear" class="select-normal">
                                        <option value="">Built Year</option>
                                        <option value="0-5 Years">0 - 5 Years</option>
                                        <option value="6-10 Years">6 - 10 Years</option>
                                        <option value="11-15 Years">11 - 15 Years</option>
                                        <option value="16-20 Years">16 - 20 Years</option>
                                        <option value="20+ Years">20+ Years</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                                        <h6>Choose Price</h6>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label for="minPrice">Minimum</label>
                                                <input type="number" id="minPrice" name="minPrice" class="form-control" placeholder="No Min">
                                            </div>
                                            <div class="col">
                                                <label for="maxPrice">Maximum</label>
                                                <input type="number" id="maxPrice" name="maxPrice" class="form-control" placeholder="No Max">
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                                    <h3>Other Features (optional)</h3>
                                    <div id="featuresinfo" class="panel-collapse mx-2" aria-labelledby="featuresinfo">
                                        <div class="vesh-detail-bloc-body">
                                            @foreach (var category in Model.Features.GroupBy(f => f.Category))
                                            {
                                                <div class="lvs-detail mb-4">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                                            <h6>@category.Key</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row p-0 m-0">
                                                        @foreach (var feature in category)
                                                        {
                                                            <div class="col-lg-6 col-md-6 p-0">
                                                                <div class="lvs-caption">
                                                                    <input name="features" type="checkbox" value="@feature.FeatureID" class="form-check-input" id="feature-@feature.FeatureID">
                                                                    <label class="form-check-label" for="feature-@feature.FeatureID">@feature.FeatureName</label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                                        <button class="btn btn-primary rounded full-width font--medium">Submit Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-12 col-md-12">
                        <div class="item-shorting-box">
                            <div class="item-shorting clearfix">
                                <div class="left-column">
                                    <h4 class="m-0"><span>@Model.Properties.Count()</span> Results Found</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-3 gy-4">
                    @foreach (var property in Model.Properties)
                    {
                        if (property.ListingStatus == "Active")
                        {
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="veshm-list-prty">
                                    <div class="veshm-list-prty-figure">
                                        <div class="veshm-list-img-slide">
                                            <div class="veshm-list-click">
                                                @if (property.GalleryPath.Any())
                                                {
                                                    @foreach (var imgPath in property.GalleryPath)
                                                    {
                                                        <div>
                                                            <a href="single-property-1.html">
                                                                <img src="~/uploads/property/@property.GalleryFolder/@imgPath" class="img-fluid mx-auto" alt="">
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <img src="https://via.placeholder.com/1280x880" class="img-fluid" alt="">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="veshm-list-prty-caption">
                                        <div class="veshm-list-kygf">
                                            <div class="veshm-list-kygf-flex">
                                                <div class="rlhc-price mb-2">
                                                    <h4 class="rlhc-price-name theme-cl">@property.Price.ToString("C")</h4>
                                                </div>
                                                <h5 class="rlhc-title-name verified">
                                                    <a asp-controller="Property" asp-action="PropertyDetails" asp-route-id="@property.Id" class="prt-link-detail">@property.Title</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="veshm-list-middle">
                                            <p class="text-mid">@property.AddressLine, @property.City, @property.State</p>
                                        </div>
                                        <div class="veshm-list-footers">
                                            <div class="veshm-list-icons">
                                                <ul>
                                                    <li><i class="fa-solid fa-bed"></i><span>@property.Bedrooms Bed</span></li>
                                                    <li><i class="fa-solid fa-bath"></i><span>@property.Bathrooms Ba</span></li>
                                                    <li><i class="fa-solid fa-vector-square"></i><span>@property.Area Sqft</span></li>
                                                    <li><i class="fa-solid fa-calendar-days"></i><span>Built @property.BuildingAge</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("SearchResults", new { query = Model.Query, city = Model.City, status = Model.status, bedrooms = Model.Bedrooms, bathrooms = Model.Bathrooms, garage = Model.Garage, builtYear = Model.BuiltYear, features = Model.SelectedFeatures, page = Model.CurrentPage - 1 })" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("SearchResults", new { query = Model.Query, city = Model.City, status = Model.status, bedrooms = Model.Bedrooms, bathrooms = Model.Bathrooms, garage = Model.Garage, builtYear = Model.BuiltYear, features = Model.SelectedFeatures, page = i })">@i</a>
                                    </li>
                                }
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("SearchResults", new { query = Model.Query, city = Model.City, status = Model.status, bedrooms = Model.Bedrooms, bathrooms = Model.Bathrooms, garage = Model.Garage, builtYear = Model.BuiltYear, features = Model.SelectedFeatures, page = Model.CurrentPage + 1 })" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Set the input values from the ViewModel
            $('#query').val('@Model.Query');
            $('#city').val('@Model.City');
            $('#status').val('@Model.status');
            $('#types').val('@Model.types');
            $('#bedrooms').val('@Model.Bedrooms');
            $('#bathrooms').val('@Model.Bathrooms');
            $('#garage').val('@Model.Garage');
            $('#builtYear').val('@Model.BuiltYear');

            var selectedFeatures = @Html.Raw(Json.Serialize(Model.SelectedFeatures));
            selectedFeatures.forEach(function (feature) {
                $('#feature-' + feature).prop('checked', true);
            });

            $('#minPrice').val("@Model.PriceRange".split(';')[0] || "");
            $('#maxPrice').val("@Model.PriceRange".split(';')[1] || "");
        });
    </script>
}





