@using System;
@using System.Security.Cryptography;
@using System.Text;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http.Extensions
@using webapp.Models

@model PropertyDetailsViewModel

@{
	ViewData["Title"] = "PropertyDetails";

	var agent = Model.Agent;

	var property = Model.Property;
	var propertyIdString = property.Id.ToString(); // Ensure this is a string
	string ToSHA256String(string input)
	{
		var inputBytes = Encoding.UTF8.GetBytes(input);
		var inputHash = SHA256.HashData(inputBytes);
		return Convert.ToHexString(inputHash);
	}

	var property_folder = ToSHA256String(property.Id.ToString());
	Console.WriteLine("Directory: " + property_folder.ToLower());
	foreach (var feature in Model.SelectedFeatures)
	{
		Console.WriteLine("Selected Feature: " + feature);
	}
	var galleryPaths = Model.Property.GalleryPath?.Where(path => !string.IsNullOrWhiteSpace(path)).ToList() ?? new List<string>();
	decimal propertyPrice = property.Price;
	decimal downPayment = propertyPrice * (decimal)0.1;

	var property_js = Newtonsoft.Json.JsonConvert.SerializeObject(property);
	decimal? previousPrice = null; // Nullable to handle the first iteration where there is no previous price
	var update_lenght = 0;
}

<!-- ============================ Hero Banner  Start================================== -->
<style>
	#map {
		height: 400px;
	}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/classic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/classic.date.css">

<div class="featured_slick_gallery gray m-0">
	<div class="featured_slick_gallery-slide">
		@if (Model.Property.GalleryPath.All(string.IsNullOrWhiteSpace))
		{
			<div class="featured_slick_padd">
				<a href="~/uploads/property/default/default_property.jpeg" class="mfp-gallery">
					<img src="~/uploads/property/default/default_property.jpeg" class="img-fluid mx-auto" alt="">
				</a>
			</div>
		}
		else
		{
			Console.WriteLine("Got photo");
			Console.WriteLine(Model.Property.GalleryPath.First());
			@foreach (var galleryPath in property.GalleryPath)
			{
				<div class="featured_slick_padd"><a href="~/uploads/property/@(property_folder.ToLower())/@(galleryPath)" class="mfp-gallery"><img src="~/uploads/property/@(property_folder.ToLower())/@(galleryPath)" class="img-fluid mx-auto" alt=""></a></div>
			}
		}
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Property Detail Start ================================== -->
			<section>
				<div class="container">
					<div class="row">
						
						<!-- property main detail -->
						<div class="col-lg-8 col-md-12 col-sm-12">
							
							<!-- Main Info Detail -->
							<div class="vesh-detail-bloc style_2 px-0">
								<div class="vesh-detail-headup px-0 pt-0">
									<div class="vesh-detail-headup-first">
										<div class="prt-detail-title-desc">
											<span class="label label-success">For Sale</span>
											<h4>@property.Title</h4>
											<span class="text-mid">
												<i class="fa-solid fa-location-dot me-2"></i>
													@property.AddressLine
													,
													@property.City
													,
													@property.State
													,
													@property.ZipCode
											</span>
											<div class="list-fx-features mt-2">
												<div class="list-fx-fisrt">
													<span class="label font--medium label-light-success me-2">@property.Bedrooms Beds</span>
													<span class="label font--medium label-light-info me-2">@property.Bathrooms Bath</span>
													<span class=" label font--medium label-light-danger">@property.Area Sqft</span>
												</div>
												<div class="list-fx-last">
												
												</div>
											</div>
										</div>
									</div>
									<div class="vesh-detail-headup-last">
										<h3 class="prt-price-fix theme-cl">@property.Price.ToString("C")<span>One Time</span></h3>
									</div>
								</div>
							</div>
							
							<!-- About Property Detail -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<h4 class="property_block_title no-arrow">About Property</h4>
								</div>
								<div class="vesh-detail-bloc-body">
									<div class="row g-3">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
											<p>@property.Description</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Basic Detail -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#basicinfo" data-bs-target="#basicinfo" aria-controls="basicinfo" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Basic Detail</h4></a>
								</div>
								<div id="basicinfo" class="panel-collapse collapse" aria-labelledby="basicinfo">
									<div class="vesh-detail-bloc-body">
										<div class="row g-3">
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-bed"></i></div><div class="ilio-text">@property.Bedrooms Bedrooms</div></div></div>
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-bath"></i></div><div class="ilio-text">@property.Bathrooms Bathrooms</div></div></div>
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-layer-group"></i></div><div class="ilio-text">@property.Area sq ft</div></div></div>
											@if (!string.IsNullOrEmpty(property.BuildingAge))
											{
												<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-building-wheat"></i></div><div class="ilio-text">@property.BuildingAge</div></div></div>
											}
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-location-dot"></i></div><div class="ilio-text">@property.City</div></div></div>
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6"><div class="ilio-icon-wrap"><div class="ilio-icon"><i class="fa-solid fa-building"></i></div><div class="ilio-text">@property.PropertyType</div></div></div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Amenties Detail -->
							@* <div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#amenitiesinfo" data-bs-target="#amenitiesinfo" aria-controls="amenitiesinfo" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Amenties</h4></a>
								</div>
								<div id="amenitiesinfo" class="panel-collapse collapse" aria-labelledby="amenitiesinfo">
									<div class="vesh-detail-bloc-body">
									@if (!string.IsNullOrEmpty(property.Detail.OtherFeatures)) {
										<ul class="avl-features third color">
											@foreach (var feature in property.Detail.OtherFeatures.Split(";"))
											{
												<li>@feature</li>
											}
										</ul>
										} else
										{
											<p>No extra Amenties</p>
										}
									</div>
								</div>
							</div> *@
							
							
							<!-- All features Detail -->

							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#featuresinfo" data-bs-target="#featuresinfo" aria-controls="featuresinfo" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Features</h4></a>
								</div>
								<div id="featuresinfo" class="panel-collapse collapse" aria-labelledby="featuresinfo">
									<div class="vesh-detail-bloc-body">
										@if (!string.IsNullOrWhiteSpace(string.Join(";", Model.SelectedFeatures)))
										{
											@foreach (var category in Model.Features
													.Where(f => Model.SelectedFeatures.Contains(f.FeatureID.ToString()))
													.GroupBy(f => f.Category)
													.ToList())
											{
												<div class="lvs-detail mb-4">
													<div class="row">
														<div class="col-xl-12 col-lg-12 col-md-12"><h6>@category.Key</h6></div>
													</div>
													<div class="row gy-3">
														@foreach (var feature in category)
														{
															<div class="col-xl-4 col-lg-4 col-md-4 col-12">
																<div class="lvs-caption"><i class="fa-solid @feature.IconClass"></i>@feature.FeatureName</div>
															</div>
														}
													</div>
												</div>
											}
										}
										else
										{
											Console.WriteLine("No Feature");
											<div class="col-xl-4 col-lg-4 col-md-4 col-12">
												<div class="lvs-caption">No features is selected for this property.</div>
											</div>
										}
										
										@* <div class="lvs-detail mb-4">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12"><h6>Interior Details</h6></div>
											</div>
											<div class="row gy-3">
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-utensils"></i>Equipped Kitchen</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-dumbbell"></i>Gym</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-jug-detergent"></i>Laundry</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-brands fa-chromecast"></i>Media Room</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-tv"></i>TV Set</div></div>
											</div>
										</div>
										<div class="lvs-detail mb-4">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12"><h6>Outdoor Details</h6></div>
											</div>
											<div class="row gy-3">
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-brands fa-canadian-maple-leaf"></i>Back yard</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-basketball"></i>Basketball court</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-seedling"></i>Front yard</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-square-parking"></i>Garage Attached</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-shower"></i>Hot Bath</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-water-ladder"></i>Pool</div></div>
											</div>
										</div>
										<div class="lvs-detail mb-4">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12"><h6>Utilities</h6></div>
											</div>
											<div class="row gy-3">
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-fan"></i>Central Air</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-plug"></i>Electricity</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-fire"></i>Heating</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-fire-flame-simple"></i>Natural Gas</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-snowflake"></i>Ventilation</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-droplet"></i>Water</div></div>
											</div>
										</div>
										<div class="lvs-detail">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12"><h6>Other Features</h6></div>
											</div>
											<div class="row gy-3">
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-wheelchair"></i>Chair Accessible</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-elevator"></i>Elevator</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-fire-extinguisher"></i>Fireplace</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-smoking"></i>Smoke detectors</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-bacon"></i>Washer and dryer</div></div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-12"><div class="lvs-caption"><i class="fa-solid fa-wifi"></i>WiFi</div></div>
											</div>
										</div> *@
									</div>
								</div>
							</div>							
							
							@* <!-- Floor Plan -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#floorinfo" data-bs-target="#floorinfo" aria-controls="floorinfo" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Floor Plan</h4></a>
								</div>
								<div id="floorinfo" class="panel-collapse collapse" aria-labelledby="floorinfo">
									<div class="vesh-detail-bloc-body">
										<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
											<li class="nav-item" role="presentation">
											<button class="nav-link active" id="pills-2d-tab" data-bs-toggle="pill" data-bs-target="#pills-2d" type="button" role="tab" aria-controls="pills-2d" aria-selected="true">2D Plans</button>
											</li>
											<li class="nav-item" role="presentation">
											<button class="nav-link" id="pills-3d-tab" data-bs-toggle="pill" data-bs-target="#pills-3d" type="button" role="tab" aria-controls="pills-3d" aria-selected="false">3D Plans</button>
											</li>
											<li class="nav-item" role="presentation">
											<button class="nav-link" id="pills-elevation-tab" data-bs-toggle="pill" data-bs-target="#pills-elevation" type="button" role="tab" aria-controls="pills-elevation" aria-selected="false">Elevations</button>
											</li>
										</ul>
										<div class="tab-content" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-2d" role="tabpanel" aria-labelledby="pills-2d-tab" tabindex="0">
												<div class="row gx-3 gy-4">
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-1.jpg" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-2.jpg" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-1.jpg" class="img-fluid" alt=""></div>
													</div>
												</div>
											</div>
											
											<div class="tab-pane fade" id="pills-3d" role="tabpanel" aria-labelledby="pills-3d-tab" tabindex="0">
												<div class="row gx-3 gy-4">
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-3.jpg" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-4.jpg" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-3.jpg" class="img-fluid" alt=""></div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="pills-elevation" role="tabpanel" aria-labelledby="pills-elevation-tab" tabindex="0">
												<div class="row gx-3 gy-4">
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-5.webp" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-6.jpeg" class="img-fluid" alt=""></div>
													</div>
													<div class="col-xl-4 col-lg-4 col-md-4">
														<div class="floor-thumb"><img src="assets/img/fl-5.webp" class="img-fluid" alt=""></div>
													</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div> *@
							
							<!-- Property History -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#historyinfo" data-bs-target="#historyinfo" aria-controls="historyinfo" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Property Price History</h4></a>
								</div>
								<div id="historyinfo" class="panel-collapse collapse show" aria-labelledby="historyinfo">
									<div class="vesh-detail-bloc-body">
										<ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
											<li class="nav-item" role="presentation">
											<button class="nav-link active" id="pills-price-tab" data-bs-toggle="pill" data-bs-target="#pills-sales-price" type="button" role="tab" aria-controls="pills-price" aria-selected="true">For Sales</button>
											</li>
											<li class="nav-item" role="presentation">
											<button class="nav-link" id="pills-tax-tab" data-bs-toggle="pill" data-bs-target="#pills-rent-price" type="button" role="tab" aria-controls="pills-tax" aria-selected="false">For Rent</button>
											</li>
										</ul>
										<div class="tab-content" id="pills-tabContent1">
											<div class="tab-pane fade show active" id="pills-sales-price" role="tabpanel" aria-labelledby="pills-price-tab" tabindex="0">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th scope="col">Date</th>
																<th scope="col">Event</th>
																<th scope="col">Price</th>
																<th scope="col">Change</th>
																<th scope="col">Sq Ft Price</th>
															</tr>
														</thead>
														<tbody>
															@{
																var salesUpdates = Model.PropertyUpdates.Where(u => u.Status == "Sale").OrderByDescending(u => u.UpdateDate).ToList();

																update_lenght = salesUpdates.Count();
																for (int i = 0;i < update_lenght; i++)
																{
																	var update = salesUpdates[i];
																	decimal previous_price_sale = 0;
																	if (i + 1 < update_lenght)
																	{
																		previous_price_sale = salesUpdates[(1 + i)].Price;
																	}
																	var priceChange = update.Price - previous_price_sale;
																	var cssClass = priceChange > 0 ? "text-success" // price increased
																						: priceChange < 0 ? "text-danger" // price decreased
																						: "text-body";                   // no change
																	<tr>
																		<td>@update.UpdateDate.ToString("dd MMM yyyy")</td>
																		<td>@update.Status</td>
																		<td>@String.Format("{0:C}", update.Price)</td>
																		<td class="@cssClass">
																			@((update.Price - previous_price_sale) != 0 ? String.Format("{0:C}", update.Price - previous_price_sale) : "N/A")
																		</td>
																		<td>@Math.Round(update.Price / property.Area, 2).ToString("C") / Sqft</td>
																	</tr>
																}
															}
@* 															<tr>
																<td>10 Jan 2020</td>
																<td>For Sale</td>
																<td>$40700</td>
																<td>Nill</td>
																<td>$910/Sqft</td>
															</tr>
															<tr>
																<td>07 Feb 2020</td>
																<td>For Sale</td>
																<td>$65000</td>
																<td>Nill</td>
																<td>$1650/Sqft</td>
															</tr>
															<tr>
																<td>10 Apr 2020</td>
																<td>For Rent</td>
																<td>$55200</td>
																<td>Nill</td>
																<td>$780/Sqft</td>
															</tr>
															<tr>
																<td>17 Jan 2021</td>
																<td>For Sale</td>
																<td>$70800</td>
																<td>Nill</td>
																<td>$1050/Sqft</td>
															</tr>
															<tr>
																<td>20 Aug 2022</td>
																<td>For Sale</td>
																<td>$80500</td>
																<td>Nill</td>
																<td>$890/Sqft</td>
															</tr>
															<tr>
																<td>15 Dec 2022</td>
																<td>For Rent</td>
																<td>$58000</td>
																<td>Nill</td>
																<td>$850/Sqft</td>
															</tr>
															<tr>
																<td colspan="5"><span class="font--medium text-success">Source: My State MLS</span></td>
															</tr> *@
															<tr>
																<td colspan="5"><span class="font--medium text-success">Source: DDAC Property Database</span></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											
											<div class="tab-pane fade" id="pills-rent-price" role="tabpanel" aria-labelledby="pills-tax-tab" tabindex="0">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th scope="col">Date</th>
																<th scope="col">Event</th>
																<th scope="col">Price</th>
																<th scope="col">Change</th>
																<th scope="col">Sq Ft Price</th>
															</tr>
														</thead>
														<tbody>
															@{
																var rentUpdates = Model.PropertyUpdates.Where(u => u.Status == "Rent").OrderByDescending(u => u.UpdateDate).ToList();
																update_lenght = rentUpdates.Count();
																for (int i = 0; i < update_lenght; i++)
																{
																	var update = rentUpdates[i];
																	decimal previous_price_rent = 0; // invalid number to indicate no changes
																	if (i + 1 < update_lenght)
																	{
																		previous_price_rent = rentUpdates[(i + 1)].Price;
																	}
																	var priceChange = update.Price - previous_price_rent;
																	var cssClass = priceChange > 0 ? "text-success" // price increased
																						: priceChange < 0 ? "text-danger" // price decreased
																						: "text-body";                   // no change
																	<tr>
																		<td>@update.UpdateDate.ToString("dd MMM yyyy")</td>
																		<td>@update.Status</td>
																		<td>@String.Format("{0:C}", update.Price)</td>
																		<td class="@cssClass">@((update.Price - previous_price_rent) != 0 ? String.Format("{0:C}", update.Price - previous_price_rent) : "N/A")</td>
																		<td>@Math.Round(update.Price / property.Area, 2).ToString("C") / Sqft</td>
																	</tr>
																}
															}
															@* <tr>
																<td>2017</td>
																<td>$1700</td>
																<td>$40700</td>
																<td>$76,400</td>
																<td>$0</td>
															</tr>
															<tr>
																<td>2018</td>
																<td>$1250</td>
																<td>$65000</td>
																<td>$75,600</td>
																<td>$0</td>
															</tr>
															<tr>
																<td>2019</td>
																<td>$1360</td>
																<td>$55200</td>
																<td>$58,700</td>
																<td>$0</td>
															</tr>
															<tr>
																<td>2020</td>
																<td>$1890</td>
																<td>$70800</td>
																<td>$80600</td>
																<td>$0</td>
															</tr>
															<tr>
																<td>2021</td>
																<td>$1620</td>
																<td>$80500</td>
																<td>$70,500</td>
																<td>$0</td>
															</tr>
															<tr>
																<td>2022</td>
																<td>$1460</td>
																<td>$58000</td>
																<td>$86,800</td>
																<td>$0</td>
															</tr> *@
															<tr>
																<td colspan="5"><span class="font--medium text-success">Source: DDAC Property Database</span></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							
							@* <!-- All over Review -->
							<!-- <div class="veshm-fl-rate-box">
								<div class="fl-rate-box-head theme-bg">
									<div class="flt-yuo10">
										<h4>5.0</h4>
										<p>Excellent</p>
									</div>
									<div class="flt-yuo12">
										<span>Out of 5</span>
									</div>
								</div>
								<div class="fl-rate-box-caption">
									<div class="fls-by1">
										<div class="fls-by2">
											<div class="fls-bystar">
												<span class="fas fa-star fill"></span>
												<span class="fas fa-star fill"></span>
												<span class="fas fa-star fill"></span>
												<span class="fas fa-star fill"></span>
												<span class="fas fa-star fill"></span>
											</div>
											<div class="fls-byheadline">
												<h5>Wonderful Score</h5>
											</div>
											<div class="fls-bycaps">
												<p>112 Total Reviews</p>
											</div>
										</div>
										<div class="fls-by3">
											<button type="button" class="btn btn-success font--medium">Submit Review</button>
										</div>
									</div>
								</div>
							</div>
							All over Review --> *@
							
							@* <!-- Property Reviews Detail -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<h4 class="property_block_title no-arrow">Property Reviews</h4>
								</div>
								<div class="panels">
									<div class="vesh-detail-bloc-body">
										<div class="prt-reviews-groups">
										
											<div class="prt-reviews-single">
												<div class="prt-reviews-single-thumb">
													<div class="prt-rvs-head">
														<div class="prt-rvs-head-img">
															<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
														</div>
														<div class="prt-rvs-head-caption">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
															<div class="prt-ves-reviewer"><h4>By: Shuryabhan Singh</h4></div>
															<div class="prt-ves-ratting-title"><h5 class="text-success">Superb</h5></div>
														</div>
													</div>
												</div>
												<div class="prt-reviews-single-content">
													<div class="prt-ves-paragraph">
														<p>Overall a wonderful building. The apartments are great. The reviews are second to none. I find the staff largely very friendly and helpful. The amenity space is clean and well appointed. The gym is convenient. The neighborhood is hard to be. Very pet friendly. I’ve been here for 2 1/2 years and really have had zero complaints.</p>
													</div>
													<div class="prt-post-date"><span>Posted on 10 Jan 2023</span></div>
												</div>
											</div>
											
											<div class="prt-reviews-single">
												<div class="prt-reviews-single-thumb">
													<div class="prt-rvs-head">
														<div class="prt-rvs-head-img">
															<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
														</div>
														<div class="prt-rvs-head-caption">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
															<div class="prt-ves-reviewer"><h4>By: Maithali Gupta</h4></div>
															<div class="prt-ves-ratting-title"><h5 class="text-warning">Middle</h5></div>
														</div>
													</div>
												</div>
												<div class="prt-reviews-single-content">
													<div class="prt-ves-paragraph">
														<p>Overall a wonderful building. The apartments are great. The reviews are second to none. I find the staff largely very friendly and helpful. The amenity space is clean and well appointed. The gym is convenient. The neighborhood is hard to be. Very pet friendly. I’ve been here for 2 1/2 years and really have had zero complaints.</p>
													</div>
													<div class="prt-post-date"><span>Posted on 18 Jan 2023</span></div>
												</div>
											</div>
											
											<div class="prt-reviews-single">
												<div class="prt-reviews-single-thumb">
													<div class="prt-rvs-head">
														<div class="prt-rvs-head-img">
															<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
														</div>
														<div class="prt-rvs-head-caption">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
															<div class="prt-ves-reviewer"><h4>By: Rajvanshi Patel</h4></div>
															<div class="prt-ves-ratting-title"><h5 class="text-success">Superb</h5></div>
														</div>
													</div>
												</div>
												<div class="prt-reviews-single-content">
													<div class="prt-ves-paragraph">
														<p>Overall a wonderful building. The apartments are great. The reviews are second to none. I find the staff largely very friendly and helpful. The amenity space is clean and well appointed. The gym is convenient. The neighborhood is hard to be. Very pet friendly. I’ve been here for 2 1/2 years and really have had zero complaints.</p>
													</div>
													<div class="prt-post-date"><span>Posted on 20 Jan 2023</span></div>
												</div>
											</div>
										
										</div>
										<div class="alert alert-info mt-3" role="alert">
											<span class="font--medium small">You need to login in order to post a review</span>
										</div>
									</div>
								</div>
							</div> *@
							
							<!-- Google Map -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#schoolsinfo" data-bs-target="#schoolsinfo" aria-controls="schoolsinfo" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Map</h4></a>
								</div>
								<div id="schoolsinfo" class="panel-collapse collapse show" aria-labelledby="schoolsinfo">
									<div id="map"></div>
									<script>
										var property_js = @Html.Raw(property_js);

										let map;
										let geocoder;
										// The callback function that initializes the map
										function initMap() {
											map = new google.maps.Map(document.getElementById('map'), {
												center: { lat: 3.056069, lng: 101.700466 },
												zoom: 15,
												mapId: "DEMO_MAP_ID", // Map ID is required for advanced markers.
											});
											geocoder = new google.maps.Geocoder();

											// const address = 'Jalan Teknologi 5, MRANTI Park, 57000, Kuala Lumpur, Malaysia';
											const address = `${property_js.AddressLine}, ${property_js.City}, ${property_js.ZipCode}, ${property_js.State}, Malaysia`;
											console.log("Address before search" + address);
											searchAddress(address);
										}

										function searchAddress(address) {
											console.log("Geocoding address:", address);
											// const address = document.getElementById('searchInput').value;
											geocoder.geocode({ 'address': address }, function (results, status) {
												if (status === 'OK') {
													const location = results[0].geometry.location;
													map.setCenter(location);
													new google.maps.marker.AdvancedMarkerElement({
														map: map,
														position: location
													});
												} else {
													alert('Geocode was not successful for the following reason: ' + status);
												}
											});
							}
									</script>
									<!-- Load the Google Maps API asynchronously and defer execution -->
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmbu1JIMzxCG5-0SptuDVnXQw2R3GFBTI&libraries=marker&loading=async&callback=initMap" async defer></script>
					</div>



								@* <div id="schoolsinfo" class="panel-collapse collapse" aria-labelledby="schoolsinfo">
									<div class="vesh-detail-bloc-body">
										<div class="nerb-lists-groups">
										
											<div class="nerb-lists-single">
												<div class="nerb-lists-sgl-first">
													<div class="nerb-lists-sgl-head"><h5>9/10</h5></div>
													<div class="nerb-lists-sgl-caption">
														<div class="nerb-school-name">Myakka River Elementary School</div>
														<div class="nerb-school-subtext"><span>Public</span>, <span>PreK-5</span>, <span>Serves this home</span></div>														
													</div>
												</div>
												<div class="nerb-lists-sgl-last">
													<div class="nerb-lists-sgl-01">
														<div class="nerb-section-number">540</div>
														<div class="nerb-section-title"><span>Students</span></div>
													</div>
													<div class="nerb-lists-sgl-02">
														<div class="nerb-section-number">2.7 mi</div>
														<div class="nerb-section-title"><span>Distance</span></div>
													</div>
													<div class="nerb-lists-sgl-03">
														<div class="nerb-section-number">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
														</div>
														<div class="nerb-section-title"><span>24 Reviews</span></div>
													</div>
												</div>
											</div>
											
											<div class="nerb-lists-single">
												<div class="nerb-lists-sgl-first">
													<div class="nerb-lists-sgl-head"><h5>7/10</h5></div>
													<div class="nerb-lists-sgl-caption">
														<div class="nerb-school-name">Rose Wood Inter Collage</div>
														<div class="nerb-school-subtext"><span>Public</span>, <span>PreK-5</span>, <span>Serves this home</span></div>														
													</div>
												</div>
												<div class="nerb-lists-sgl-last">
													<div class="nerb-lists-sgl-01">
														<div class="nerb-section-number">890</div>
														<div class="nerb-section-title"><span>Students</span></div>
													</div>
													<div class="nerb-lists-sgl-02">
														<div class="nerb-section-number">2.9 mi</div>
														<div class="nerb-section-title"><span>Distance</span></div>
													</div>
													<div class="nerb-lists-sgl-03">
														<div class="nerb-section-number">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
														</div>
														<div class="nerb-section-title"><span>32 Reviews</span></div>
													</div>
												</div>
											</div>
											
											<div class="nerb-lists-single">
												<div class="nerb-lists-sgl-first">
													<div class="nerb-lists-sgl-head"><h5>8/10</h5></div>
													<div class="nerb-lists-sgl-caption">
														<div class="nerb-school-name">Bharat Green Velly School</div>
														<div class="nerb-school-subtext"><span>Public</span>, <span>PreK-5</span>, <span>Serves this home</span></div>														
													</div>
												</div>
												<div class="nerb-lists-sgl-last">
													<div class="nerb-lists-sgl-01">
														<div class="nerb-section-number">670</div>
														<div class="nerb-section-title"><span>Students</span></div>
													</div>
													<div class="nerb-lists-sgl-02">
														<div class="nerb-section-number">3.2 mi</div>
														<div class="nerb-section-title"><span>Distance</span></div>
													</div>
													<div class="nerb-lists-sgl-03">
														<div class="nerb-section-number">
															<div class="prt-ves-ratting">
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-solid fa-star"></span>
																<span class="fa-regular fa-star"></span>
															</div>
														</div>
														<div class="nerb-section-title"><span>24 Reviews</span></div>
													</div>
												</div>
											</div>
										
										</div>
									</div>
								</div> *@
							</div>
							
							@* <!-- Contact More Agents -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<a data-bs-toggle="collapse" data-parent="#ctagent" data-bs-target="#ctagent" aria-controls="ctagent" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Contact Other Agents</h4></a>
								</div>
								<div id="ctagent" class="panel-collapse collapse" aria-labelledby="ctagent">
									<div class="vesh-detail-bloc-body">
										<div class="row gx-3 gy-4">
										
											<!-- Single Agents Start -->
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
												<div class="veshm-agent-wrap">
													<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
													<div class="veshm-list-75"><span>12 Property</span></div>
													<div class="veshm-agent-thumb">
														<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
													</div>
													<div class="veshm-agent-content">
														<h4 class="vesh-content-title">Hilda A. Sheppard</h4>
														<div class="vesh-aget-rates">
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<span class="resy-98">142 Reviews</span>
														</div>
														<div class="vesh-contact">
															<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>	
														</div>
													</div>
													<div class="veshm-agent-footer">
														<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
														<div class="veshm-agent-social">
															<ul>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<!-- Single Agents End -->								
											
											<!-- Single Agents Start -->
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
												<div class="veshm-agent-wrap">
													<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
													<div class="veshm-list-75"><span>26 Property</span></div>
													<div class="veshm-agent-thumb">
														<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
													</div>
													<div class="veshm-agent-content">
														<h4 class="vesh-content-title">Keith D. Espinoza</h4>
														<div class="vesh-aget-rates">
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<span class="resy-98">140 Reviews</span>
														</div>
														<div class="vesh-contact">
															<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>	
														</div>
													</div>
													<div class="veshm-agent-footer">
														<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
														<div class="veshm-agent-social">
															<ul>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<!-- Single Agents End -->
											
											<!-- Single Agents Start -->
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
												<div class="veshm-agent-wrap">
													<button class="btn btn-like" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
													<div class="veshm-list-75"><span>82 Property</span></div>
													<div class="veshm-agent-thumb">
														<img src="https://via.placeholder.com/650x650" class="img-fluid circle" alt="">
													</div>
													<div class="veshm-agent-content">
														<h4 class="vesh-content-title">Olga K. Backus</h4>
														<div class="vesh-aget-rates">
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<span class="resy-98">245 Reviews</span>
														</div>
														<div class="vesh-contact">
															<a href="agent-detail.html" class="btn rounded btn-light-success full-width">Contact Agent</a>	
														</div>
													</div>
													<div class="veshm-agent-footer">
														<div class="rlhc-prt-location"><i class="fa-solid fa-location-dot me-1"></i>Liverpool</div>
														<div class="veshm-agent-social">
															<ul>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-instagram"></i></a></li>
																<li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<!-- Single Agents End -->
										
										</div>
									</div>
								</div>
							</div> *@
							
							@* <!-- Property Graph Detail -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<h4 class="property_block_title no-arrow">View property Graph</h4>
								</div>
								<div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne">
									<div class="vesh-detail-bloc-body">
										<ul class="list-inline text-center m-t-40">
											<li>
												<h5><i class="fa fa-circle me-1 text-warning"></i>Total Revenue</h5>
											</li>
											<li>
												<h5><i class="fa fa-circle me-1 text-danger"></i>Total Property</h5>
											</li>
											<li>
												<h5><i class="fa fa-circle me-1 text-success"></i>Total income</h5>
											</li>
										</ul>
										<div class="chart" id="line-chart" style="height:300px;"></div>
									</div>
								</div>
							</div> *@
							
							
							<!-- Repayments Mortgage Calculator -->
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<h4 class="property_block_title no-arrow">Repayments Mortgage Calculator</h4>
								</div>
								<div class="panel">
									<div class="vesh-detail-bloc-body">
										<div class="row">
											<div class="col-8">
												<div class="row align-items-bottom">
													@* <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3"> *@
													<div class="col mb-3">
														 <label class="form-label font--medium small">Property value</label>
														 <div class="input-group">
															<span class="input-group-text">$</span>
															<input type="number" id="property-value" class="form-control" value="@property.Price" required step="0.01" min="0">
														</div>
														<span class="text-danger" id="property-value-error"></span>
													</div>
													<div class="col mb-3">
														 <label class="form-label font--medium small">Your Down Payment</label>
														 <div class="input-group">
															<span class="input-group-text">@@</span>
															<input type="text" id="down-payment" class="form-control" value="@((property.Price * (decimal)0.1).ToString("N2"))">
														</div>
														<span class="text-danger" id="down-payment-error"></span>
													</div>
													@* <div class="col-xl-4 col-lg-4 col-md-6 col-12">
														<div class="alert alert-warning small mb-3" role="alert">
														  Your Loan to value would be <strong>90%</strong> with a Down Payment of <strong>@((property.Price * (decimal)0.1).ToString("C"))</strong>
														</div>
													</div> *@
												</div>
										
												<div class="row align-items-bottom">
													<div class="col mb-3">
														 <label class="form-label font--medium small">Mortgage Terms Length</label>
														 <div class="input-group">
														  <input type="number" id="mortgage-term" class="form-control" value="20">
														  <span class="input-group-text">Yrs</span>
														</div>
														<span class="text-danger" id="mortgage-term-error"></span>
													</div>
		@* 											<div class="col-xl-4 col-lg-4 col-md-6 col-12">
														 <label class="form-label font--medium small">Fixed Term Length</label>
														 <div class="input-group mb-3">
														  <input type="number" class="form-control" placeholder="7" value="5">
														  <span class="input-group-text">Yrs</span>
														</div>
													</div> *@
													<div class="col mb-3">
														 <label class="form-label font--medium small">Mortgage Fees</label>
														 <div class="input-group">
														  <span class="input-group-text">@@</span>
														  <input id="mortgage-fee" type="text" class="form-control" value="1,250">
														</div>
														<span class="text-danger" id="mortgage-fee-error"></span>
													</div>
		@* 											<div class="col-xl-4 col-lg-4 col-md-6 col-12">
														<label class="form-label font--medium small">Add fee To Mortgage</label>
														<div class="input-group mb-3">
															<select class="form-control">
																<option value="1">Yes</option>
																<option value="2">No</option>
															</select>
														</div>
													</div> *@
												</div>
										
												<div class="row align-items-bottom">
													<div class="col mb-3">
														 <label class="form-label font--medium small">Standardised Base Rate (SBR)</label>
														 <div class="input-group">
														  <input type="text" id="base-interest-rate" class="form-control" value="1.7">
														  <span class="input-group-text">%</span>
														</div>
														<span class="text-danger" id="base-interest-rate-error"></span>
													</div>
													<div class="col mb-3">
														 <label class="form-label font--medium small">Loan Intrest Rate</label>
														 <div class="input-group">
														  <input type="text" id="loan-interest-rate" class="form-control" value="4.2">
														  <span class="input-group-text">%</span>
														</div>
														<span class="text-danger" id="loan-interest-rate-error"></span>
													</div>
												</div>
											</div>
											@* <div class="col-xl-4 col-lg-4 col-md-6 col-2"> *@
											<div class="col-4">
												@* <div class="alert alert-warning small mb-3" role="alert">
													Your Loan to value would be <strong>90%</strong> with a Down Payment of <strong>@((property.Price * (decimal)0.1).ToString("C"))</strong>
												</div> *@
												<canvas id="mortgageChart"></canvas>
											</div>
										</div>
										
										<div class="row align-items-end">
											<div class="col-xl-12 col-lg-12 col-12 mb-4">
												<p class="m-0 p-0 font--medium small">Mortgage Fee is <strong>included</strong> in the monthly payment.</p>
											</div>
										</div>
										
										<div class="row align-items-bottom">
											<div class="col-xl-12 col-lg-12 col-12">
												<div class="mortgage-wrp-bloc">
													<div class="mortgage-wrp-bloc-single">
														<div class="mrtg-wrp-title">Monthly Payment</div>
														<div id="monthly-payment" class="mrtg-wrp-subtitle">$799.70</div>
													</div>
													<div class="mortgage-wrp-bloc-single">
														<div class="mrtg-wrp-title">Total Amount Financed</div>
														<div id="total-amount-financed" class="mrtg-wrp-subtitle">$12,56.4</div>
													</div>
													<div class="mortgage-wrp-bloc-single">
														<div class="mrtg-wrp-title">Total Interest Payable</div>
														<div id="total-interest-payable" class="mrtg-wrp-subtitle">4.2%</div>
													</div>
													<div class="mortgage-wrp-bloc-single">
														<div class="mrtg-wrp-title">Total Payable</div>
														<div id="total-payable" class="mrtg-wrp-subtitle">$72,890</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							@* Report property *@
							<div class="vesh-detail-bloc style_2">
								<div class="vesh-detail-bloc_header">
									<h4 class="property_block_title no-arrow">Issue With This Property Listing?</h4>
								</div>
								<div class="mb-3">
									@if (TempData["Report Message"] != null)
									{
										var statusMessageClass = TempData["report Message"]?.ToString()?.StartsWith("Error") == true ? "danger" : "success";
										<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
											@TempData["Report Message"]
										</div>
									}
									<p class="mb-4">If you believe that this property listing violates our community guidelines or contains incorrect information, we encourage you to report it. Your feedback is essential in helping us maintain a trustworthy and reliable platform.</p>
									<button type="button" class="btn btn-danger font--medium" data-toggle="modal" data-target="#exampleModal">
									  Report Listing
									</button>
								</div>
							</div>

							@* Report Modal *@
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">Report Listing</h5>
										</div>
										<div class="modal-body">
											<form id="reportForm" method="post" action="/Property/ReportListing">
												<div class="custom-control custom-radio">
													<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="Incorrect Information">
													<label class="custom-control-label" for="customRadio1">Incorrect Information</label>
												</div>
												<div class="custom-control custom-radio">
													<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="Fake Listing">
													<label class="custom-control-label" for="customRadio2">Fake Listing</label>
												</div>
												<div class="custom-control custom-radio">
													<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="Inappropriate Content">
													<label class="custom-control-label" for="customRadio3">Inappropriate Content</label>
												</div>
												<div class="custom-control custom-radio">
													<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" value="Duplicate Listing">
													<label class="custom-control-label" for="customRadio4">Duplicate Listing</label>
												</div>
												<div class="custom-control custom-radio">
													<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input" value="Outdated Information">
													<label class="custom-control-label" for="customRadio5">Outdated Information</label>
												</div>
												<input asp-for="ReportProperty.Reason" type="hidden" id="selectedReasonRadio" name="selectedReasonRadio">
												<input asp-for="ReportProperty.PropertyId" type="hidden" id="propertyIdRadio" name="propertyIdRadio" value="@Model.Property.Id">
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" onclick="submitReportForm()" class="btn btn-danger col mx-3">Report</button>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- property main detail -->
						
						
						<!-- Property Sidebar -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							
							<!-- Like And Share -->
							<div class="vesh-detail-bloc border">
								<ul class="like_share_list">
									<li>
										<a href="JavaScript:Void(0);" data-bs-toggle="tooltip" data-bs-title="Copy Link" data-bs-placement="bottom" id="copyLink" class="btn btn-light-success"><i class="fa-solid fa-share-from-square me-2"></i>Share</a>
									</li>
									<li><a href="JavaScript:Void(0);" class="btn btn-light-danger" data-toggle="tooltip" data-original-title="Save"><i class="fa-solid fa-heart-circle-check me-2"></i>Save</a></li>
								</ul>
							</div>
							
							<div class="pg-side-groups">
								
								<div class="pg-side-block border">
									<div class="pg-side-block-head">
										<ul class="nav nav-pills" id="pills-tab" role="tablist">
											<li class="nav-item" role="presentation">
												<button class="nav-link active" id="pills-request-tab" data-bs-toggle="pill" data-bs-target="#pills-request" type="button" role="tab" aria-controls="pills-request" aria-selected="true">Request Info</button>
											</li>
											<li class="nav-item" role="presentation">
												<button class="nav-link" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-schedule" type="button" role="tab" aria-controls="pills-schedule" aria-selected="false">Schedule A Tour</button>
											</li>
										</ul>
									</div>
									<div class="pg-side-block-body">
										<div class="tab-content" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-request" role="tabpanel" aria-labelledby="pills-request-tab" tabindex="0">
												<div class="pg-side-block-head b-0">
													<div class="pg-side-left">
											<div class="pg-side-thumb"><img src="@Url.Content(Model.Agent.ProfilePicture != null ? "~/uploads/user/" + Model.Agent.ProfilePicture : "~/uploads/user/default-user.png")" class="img-fluid circle" alt="Agent Profile Picture"></div>
													</div>
													<div class="pg-side-right">
														<div class="pg-side-right-caption">
															<h4>@Model.Agent.UserName</h4>
															<span><i class="fa-solid fa-location-dot me-2"></i>@Model.Agent.Location</span>
														</div>
													</div>
												</div>
												<div class="pg-side-block-info pt-0 pb-4">
													@if (TempData["Message"] != null)
													{
														var statusMessageClass = TempData["Message"]?.ToString()?.StartsWith("Error") == true ? "danger" : "success";
														<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
															@TempData["Message"]
														</div>
													}
													<form asp-controller="Property" asp-action="ScheduleTour" method="post">
														<div class="form-group">
															<label for="Name">Name*</label>
															<input asp-for="InquiryModel.Name" type="text" class="form-control" placeholder="Your Name" />
															<span class="text-danger" asp-validation-for="InquiryModel.Name"></span>
														</div>
														<div class="form-group">
															<label for="Email">Email*</label>
															<input asp-for="InquiryModel.Email" type="email" class="form-control" placeholder="Your Email" />
															<span class="text-danger" asp-validation-for="InquiryModel.Email"></span>
														</div>
														<div class="form-group">
															<label for="Phone">Phone No.*</label>
															<input asp-for="InquiryModel.Phone" type="tel" class="form-control" placeholder="Your Phone" />
															<span class="text-danger" asp-validation-for="InquiryModel.Phone"></span>
														</div>
														<div class="form-group">
															<label for="Description">Description</label>
															<textarea asp-for="InquiryModel.Description" class="form-control">I'm interested in this property.</textarea>
															<span class="text-danger" asp-validation-for="InquiryModel.Description"></span>
														</div>
														<input asp-for="InquiryModel.Type" type="hidden" value="Info" />
@* 														<input asp-for="InquiryModel.PropertyId" type="hidden" value="@Model.Property.Id" />
														<input asp-for="InquiryModel.PropertyTitle" type="hidden" value="@Model.Property.Title" />
														<input asp-for="InquiryModel.PropertyAddress" type="hidden"
														   value="@property.AddressLine
															,
															@property.City
															,
															@property.State
															,
															@property.ZipCode" 
														/> *@
														<input asp-for="InquiryModel.PropertyLink" type="hidden" value="@Context.Request.GetDisplayUrl()" />


														@* This is to fking reinput the missing value when submit form to the sohai idiot model *@
															<input asp-for="Property.Id" type="hidden" value="@Model.Property.Id" />
															<input asp-for="Property.Title" type="hidden" value="@Model.Property.Title" />
															<input asp-for="Property.AddressLine" type="hidden" value="@Model.Property.AddressLine" />
															<input asp-for="Property.City" type="hidden" value="@Model.Property.City" />
															<input asp-for="Property.State" type="hidden" value="@Model.Property.State" />
															<input asp-for="Property.ZipCode" type="hidden" value="@Model.Property.ZipCode" />
															<input asp-for="Property.PropertyType" type="hidden" value="@Model.Property.PropertyType" />
															<input asp-for="Property.Status" type="hidden" value="@Model.Property.Status" />
															<input asp-for="Property.Description" type="hidden" value="@Model.Property.Description" />

															<input asp-for="Agent.Id" type="hidden" value="@Model.Agent.Id" />
															<input asp-for="Agent.UserName" type="hidden" value="@Model.Agent.UserName" />
															<input asp-for="Agent.Email" type="hidden" value="@Model.Agent.Email" />
															<input asp-for="Agent.City" type="hidden" value="@Model.Agent.City" />
															<input asp-for="Agent.Name" type="hidden" value="@Model.Agent.Name" />
															<input asp-for="Agent.About" type="hidden" value="@Model.Agent.About" />
															<input asp-for="Agent.State" type="hidden" value="@Model.Agent.State" />
															<input asp-for="Agent.XLink" type="hidden" value="@Model.Agent.XLink" />
															<input asp-for="Agent.Location" type="hidden" value="@Model.Agent.Location" />
															<input asp-for="Agent.GoogleLink" type="hidden" value="@Model.Agent.GoogleLink" />
															<input asp-for="Agent.Properties" type="hidden" value="@Model.Agent.Properties" />
															<input asp-for="Agent.PhoneNumber" type="hidden" value="@Model.Agent.PhoneNumber" />
															<input asp-for="Agent.FacebookLink" type="hidden" value="@Model.Agent.FacebookLink" />
															<input asp-for="Agent.LinkedInLink" type="hidden" value="@Model.Agent.LinkedInLink" />
															<input asp-for="Agent.ProfilePicture" type="hidden" value="@Model.Agent.ProfilePicture" />
														@* stupid af, waste me so many time debug until i want to suicide *@


														<button type="submit" class="btn btn-theme font--medium full-width">Send Message</button>
													</form>
												</div>
											</div>
											
											<div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab" tabindex="0">
												<div class="pg-side-block-info pt-0 pb-4">
													@if (TempData["Message"] != null)
													{
														var statusMessageClass = TempData["Message"]?.ToString()?.StartsWith("Error") == true ? "danger" : "success";
														<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
															@TempData["Message"]
														</div>
													}
													<form asp-controller="Property" asp-action="ScheduleTour" method="post">
														<div class="sides-widget-body simple-form mt-2">
															<div class="form-group">
																<input asp-for="InquiryModel.Date" type="text" id="choosedate" class="form-control" placeholder="Choose Date">
															</div>
															<div class="form-group">
																<select asp-for="InquiryModel.Time" class="form-control">
																	<option value="1">07:00 AM</option>
																	<option value="2">08:00 AM</option>
																	<option value="3">09:00 AM</option>
																	<option value="4">10:00 AM</option>
																	<option value="5">11:00 AM</option>
																	<option value="6">12:00 PM</option>
																	<option value="7">01:00 PM</option>
																	<option value="8">02:00 PM</option>
																	<option value="9">03:00 PM</option>
																	<option value="10">04:00 PM</option>
																	<option value="11">05:00 PM</option>
																</select>
															</div>

															@* <div class="form-group">
																<div class="col-6">
																	<button onclick="setTourType(true) type="radio" class="btn-check" name="meeting" id="person-meeting" autocomplete="off" checked>
																	<label class="full-width btn btn-outline-success" for="person-meeting"><i class="fa-regular fa-user me-2"></i>In Person</label>
																</div> 
																<div class="col-6">
																	<button onclick="setTourType(false) type="radio" class="btn-check" name="meeting" id="video-meeting" autocomplete="off">
																	<label class="full-width btn btn-outline-success" for="video-meeting"><i class="fa-solid fa-video me-2"></i>Video Chat</label>
																</div>
																<input name="IsInPerson" asp-for="InquiryModel.IsInPerson" type="hidden" />
															</div> *@
														<div class="form-group row">
															<div class="col-6">
														<input type="radio" class="btn-check" name="meeting" id="person-meeting" autocomplete="off" checked onclick="setTourType(true)">
																<label class="full-width btn btn-outline-success" for="person-meeting"><i class="fa-regular fa-user me-2"></i>In Person</label>
															</div>
															<div class="col-6">
														<input type="radio" class="btn-check" name="meeting" id="video-meeting" autocomplete="off" onclick="setTourType(false)">
																<label class="full-width btn btn-outline-success" for="video-meeting"><i class="fa-solid fa-video me-2"></i>Video Chat</label>
															</div>
															<input name="IsInPerson" asp-for="InquiryModel.IsInPerson" type="hidden" />
														</div>
														</div>
														<div class="sides-widget-body simple-form">
															<div class="form-group">
																<label for="Name">Name*</label>
																<input asp-for="InquiryModel.Name" type="text" class="form-control" placeholder="Your Name" />
															</div>
															<div class="form-group">
																<label for="Email">Email*</label>
																<input asp-for="InquiryModel.Email" type="email" class="form-control" placeholder="Your Email" />
															</div>
															<div class="form-group">
																<label for="Phone">Phone No.*</label>
																<input asp-for="InquiryModel.Phone" type="tel" class="form-control" placeholder="Your Phone" />
															</div>
															<div class="form-group">
																<label for="Description">Description</label>
																<textarea asp-for="InquiryModel.Description" class="form-control">I'm interested in this property.</textarea>
															</div>
															<input asp-for="InquiryModel.Type" type="hidden" value="Tour" />
															<input asp-for="InquiryModel.PropertyLink" type="hidden" value="@Context.Request.GetDisplayUrl()" />


															@* This is to fking reinput the missing value when submit form to the sohai idiot model *@
																<input asp-for="Property.Id" type="hidden" value="@Model.Property.Id" />
																<input asp-for="Property.Title" type="hidden" value="@Model.Property.Title" />
																<input asp-for="Property.AddressLine" type="hidden" value="@Model.Property.AddressLine" />
																<input asp-for="Property.City" type="hidden" value="@Model.Property.City" />
																<input asp-for="Property.State" type="hidden" value="@Model.Property.State" />
																<input asp-for="Property.ZipCode" type="hidden" value="@Model.Property.ZipCode" />
																<input asp-for="Property.PropertyType" type="hidden" value="@Model.Property.PropertyType" />
																<input asp-for="Property.Status" type="hidden" value="@Model.Property.Status" />
																<input asp-for="Property.Description" type="hidden" value="@Model.Property.Description" />

																<input asp-for="Agent.Id" type="hidden" value="@Model.Agent.Id" />
																<input asp-for="Agent.UserName" type="hidden" value="@Model.Agent.UserName" />
																<input asp-for="Agent.Email" type="hidden" value="@Model.Agent.Email" />
																<input asp-for="Agent.City" type="hidden" value="@Model.Agent.City" />
																<input asp-for="Agent.Name" type="hidden" value="@Model.Agent.Name" />
																<input asp-for="Agent.About" type="hidden" value="@Model.Agent.About" />
																<input asp-for="Agent.State" type="hidden" value="@Model.Agent.State" />
																<input asp-for="Agent.XLink" type="hidden" value="@Model.Agent.XLink" />
																<input asp-for="Agent.Location" type="hidden" value="@Model.Agent.Location" />
																<input asp-for="Agent.GoogleLink" type="hidden" value="@Model.Agent.GoogleLink" />
																<input asp-for="Agent.Properties" type="hidden" value="@Model.Agent.Properties" />
																<input asp-for="Agent.PhoneNumber" type="hidden" value="@Model.Agent.PhoneNumber" />
																<input asp-for="Agent.FacebookLink" type="hidden" value="@Model.Agent.FacebookLink" />
																<input asp-for="Agent.LinkedInLink" type="hidden" value="@Model.Agent.LinkedInLink" />
																<input asp-for="Agent.ProfilePicture" type="hidden" value="@Model.Agent.ProfilePicture" />
															@* stupid af, waste me so many time debug until i want to suicide *@

															<button type="submit" class="btn btn-theme font--medium full-width">Schedule A Tour</button>
														</div>	
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Property Detail End ================================== -->

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<!-- Include CSS for Pickadate.js -->

	<!-- Include JavaScript for Pickadate.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.date.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		console.log("script working?")
		$(document).ready(function () {
			$('#choosedate').pickadate({
				format: 'yyyy-mm-dd', // Change this to your preferred format
				selectMonths: false,
				selectYears: false,
				today: 'Today',
				clear: 'Clear selection',
				close: ''
			});

			var ctx = document.getElementById('mortgageChart').getContext('2d');
			var mortgageChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['Principal', 'Interest'],
					datasets: [{
						label: 'Total Payable',
						data: [12, 19],
						backgroundColor: [
							'rgba(54, 162, 235, 0.4)',  // Custom color for Monthly Payment Variable
							'rgba(255, 99, 132, 0.4)', // Custom color for Monthly Payment Fixed
						],
						borderWidth: 2
					}]
				},
			});
		
			function validateInput(selector, errorSelector) {
				var value = $(selector).val();
				if (value) {
					var sanitizedValue = value.replace(/,/g, ''); // Remove commas
					if (!$.isNumeric(sanitizedValue) || parseFloat(sanitizedValue) < 0) {
						$(selector).addClass("is-invalid");
						$(errorSelector).text("Please enter a valid number.");
						return false;
					} else {
						$(errorSelector).text("");
						$(selector).removeClass("is-invalid");
						return true;
					}
				} else {
					$(errorSelector).text("This field is required.");
					return false;
				}
			}

			function calculateMonthlyPayment(principal, annualInterestRate, loanTermYears) {
				var monthlyInterestRate = annualInterestRate / 100 / 12;
				var numberOfPayments = loanTermYears * 12;
            
				var monthlyPayment = principal * monthlyInterestRate / (1 - Math.pow(1 + monthlyInterestRate, -numberOfPayments));
				return monthlyPayment;
			}

			function calculateResults() {
				var isValid = true;

				// isValid &= validateInput("#property-value", "#property-value-error");
				isValid &= validateInput("#down-payment", "#down-payment-error");
				isValid &= validateInput("#mortgage-term", "#mortgage-term-error");
				isValid &= validateInput("#mortgage-fee", "#mortgage-fee-error");
				isValid &= validateInput("#base-interest-rate", "#base-interest-rate-error");
				isValid &= validateInput("#loan-interest-rate", "#loan-interest-rate-error");

				if (!isValid) {
					return;
				}

				var propertyValue = parseFloat($("#property-value").val().replace(/,/g, ''));
				var downPayment = parseFloat($("#down-payment").val().replace(/,/g, ''));
				var mortgageTerm = parseInt($("#mortgage-term").val());
				var mortgageFee = parseFloat($("#mortgage-fee").val().replace(/,/g, ''));
				var baseInterestRate = parseFloat($("#base-interest-rate").val());
				var loanInterestRate = parseFloat($("#loan-interest-rate").val());

				var monthlyPayment = 0;
				var totalPayment = 0;
				var totalInterest = 0;

				var loanAmount = propertyValue - downPayment;
				if (loanAmount > 0) {
					monthlyPayment = calculateMonthlyPayment(loanAmount, baseInterestRate + loanInterestRate, mortgageTerm) + mortgageFee / (12 * mortgageTerm);
					totalPayment = monthlyPayment * mortgageTerm * 12;
					totalInterest = totalPayment - loanAmount;
				}

				$("#monthly-payment").text(monthlyPayment > 0 ? monthlyPayment.toFixed(2) : "N/A");
				$("#total-amount-financed").text(loanAmount > 0 ? loanAmount.toFixed(2) : "N/A");
				$("#total-interest-payable").text(totalInterest > 0 ? totalInterest.toFixed(2) : "N/A");
				$("#total-payable").text(totalPayment > 0 ? totalPayment.toFixed(2) : "N/A");

				mortgageChart.data.datasets[0].data[0] = loanAmount > 0 ? loanAmount.toFixed(2) : 0;
				mortgageChart.data.datasets[0].data[1] = totalInterest > 0 ? totalInterest.toFixed(2) : 0;
				mortgageChart.update();
			}

			$("input").on("input", function () {
				calculateResults();
			});

			calculateResults(); // initial calculation
		});

		// document.getElementById('copyLink').addEventListener('click', function () {
		// 	// Create a temporary input element
		// 	const tempInput = document.createElement('input');
		// 	// Append it to the body
		// 	document.body.appendChild(tempInput);
		// 	// Set its value to the current URL
		// 	tempInput.value = window.location.href;
		// 	// Select the value
		// 	tempInput.select();
		// 	// Copy the text inside the input
		// 	document.execCommand('copy');
		// 	// Remove the temporary input
		// 	document.body.removeChild(tempInput);

		// 	// Optional: Alert the user that the URL has been copied
		// 	alert('URL copied to clipboard!');
		// });

		document.getElementById('copyLink').addEventListener('click', async function () {
			try {
				await navigator.clipboard.writeText(window.location.href);
				document.getElementById('copyMessage').style.display = 'inline'; // Show the message
				setTimeout(() => { document.getElementById('copyMessage').style.display = 'none'; }, 3000); // Hide after 3 seconds
			} catch (err) {
				console.error('Failed to copy: ', err);
			}
		});

		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

		// $('#copyLink').on('click', function (event) {
		// 	event.preventDefault(); // Prevent the default action
		// 	// Change the tooltip title
		// 	$(this).attr('data-bs-title', 'Copied!').tooltip('dispose').tooltip('show');
		// 	var tooltip = document.getElementById('tooltip');
		// 	if (tooltip) {
		// 		// Close the tooltip
		// 		tooltip.style.display = 'none';

		// 		// Change the tooltip title after 3 seconds
		// 		setTimeout(function () {
		// 			tooltip.textContent = 'Copy Link';
		// 		}, 3000);
		// 	}
		// });

		$(document).ready(function () {
			// Initialize the tooltip
			$('[data-bs-toggle="tooltip"]').tooltip();

			// Add click event listener to the anchor
			$('#copyLink').on('click', function (event) {
				event.preventDefault(); // Prevent the default action

				var $this = $(this);

				// Change the tooltip title to "Copied!" and show it
				$this.attr('data-bs-title', 'Copied!').tooltip('dispose').tooltip('show');

				// Hide the tooltip quickly
				setTimeout(function () {
					$this.attr('data-bs-title', 'Copy Link!').tooltip('dispose').tooltip('show');
				}, 3000);
			});
		});

		function setTourType(isInPerson) {
			document.querySelector('input[name="IsInPerson"]').value = isInPerson;
		}

		function submitReportForm() {
			const selectedRadio = document.querySelector('input[name="customRadio"]:checked');
			if (selectedRadio) {
				document.getElementById('selectedReasonRadio').value = selectedRadio.value;
			}
			document.getElementById('reportForm').submit();
		}
	</script>
}
