@using Microsoft.AspNetCore.Identity
@using webapp.Areas.Identity.Data

@inject SignInManager<webappUser> SignInManager
@inject UserManager<webappUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
	webappUser user = null;
	bool isAdmin = false;
	string fixedNav = "";

	if (SignInManager.IsSignedIn(User))
	{
		user = await UserManager.GetUserAsync(User);

		if (user != null)
		{
			var roles = await UserManager.GetRolesAsync(user);
			isAdmin = roles.Contains("Admin");
		}

		if (isAdmin)
		{
			fixedNav = "position-fixed w-100";
		}
		
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>@ViewData["Title"] - Residence & Real Estate</title>

    <!-- Custom CSS -->
	<link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
	<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" asp-append-version="true" />
	<script src="~/js/jquery.min.js" asp-append-version="true"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
@* <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Residence & Real Estate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
</head> *@

<body>
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
    <div id="main-wrapper">
		<div class="header @fixedNav header-light head-shadow">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" class="logo" alt=""></a>
						<div class="nav-toggle"></div>
						<div class="mobile_nav dhsbrd">
							<partial name="_LoginPartial" />
						</div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li>
								<a href="#">Buy</a>
							</li>

							<li>
								<a href="#">Rent</a>
							</li>

							<li>
								<a asp-controller="Agent" asp-action="AgentList">Find an Agent</a>
							</li>

							<li>
								<a href="JavaScript:Void(0);">About<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu">
									<li><a asp-area="" asp-controller="Home" asp-action="About">Our Team</a></li>
									<li><a asp-area="" asp-controller="Home" asp-action="Privacy">Terms & Privacy</a></li>
									<li><a asp-area="" asp-controller="Home" asp-action="Faq">FAQ's</a></li>
								</ul>
							</li>

							<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacts Us</a></li>
							@if (isAdmin)
							{
								<li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
								<li class="d-lg-none d-inline-block"><a asp-controller="Admin" asp-action="UserList">User</a></li>
								<li class="d-lg-none d-inline-block"><a asp-controller="Admin" asp-action="PropertyList">Property</a></li>
							}

						</ul>
						<partial name="_LoginPartial" />
					</div>
				</nav>
			</div>
		</div>

		<div class="clearfix"></div>

		@RenderBody()


		@if (!isAdmin)
		{
		<section class="bg-cover call-action-container dark" style="background:#065eb5 url('@Url.Content("~/img/footer-bg-dark.png")') no-repeat;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">

						<div class="call-action-wrap">
							<div class="call-action-caption">
								<h2 class="text-light">Are You Already Working With Us?</h2>
								<p class="text-light">Interested in Partnering with Us? Join Our Network of Trusted Agents</p>
							</div>
							<div class="call-action-form">
								<form>
									<div class="newsltr-form">
										<input type="text" class="form-control" placeholder="Enter Your email">
										<button type="button" class="btn btn-subscribe">Subscribe</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<footer class="skin-light-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-4">
							<div class="footer-widget">
								<img src="~/img/logo.png" class="img-footer" alt="">
								<div class="footer-add">
									<p>Collins Street West, Victoria 8007, Australia.</p>
									<p><span class="ftp-info"><i class="fa fa-phone" aria-hidden="true"></i>+1 246-345-0695</span></p>
									<p><span class="ftp-info"><i class="fa fa-envelope" aria-hidden="true"></i>info@example.com</span></p>
								</div>

							</div>
						</div>
						<div class="col-lg-2 col-md-4">
							<div class="footer-widget">
								<h4 class="widget-title">Navigations</h4>
								<ul class="footer-menu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="faq.html">FAQs Page</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="blog.html">Blog</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4">
							<div class="footer-widget">
								<h4 class="widget-title">The Highlights</h4>
								<ul class="footer-menu">
									<li><a href="JavaScript:Void(0);">Apartment</a></li>
									<li><a href="JavaScript:Void(0);">My Houses</a></li>
									<li><a href="JavaScript:Void(0);">Restaurant</a></li>
									<li><a href="JavaScript:Void(0);">Nightlife</a></li>
									<li><a href="JavaScript:Void(0);">Villas</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-6">
							<div class="footer-widget">
								<h4 class="widget-title">My Account</h4>
								<ul class="footer-menu">
									<li><a href="JavaScript:Void(0);">My Profile</a></li>
									<li><a href="JavaScript:Void(0);">My account</a></li>
									<li><a href="JavaScript:Void(0);">My Property</a></li>
									<li><a href="JavaScript:Void(0);">Favorites</a></li>
									<li><a href="JavaScript:Void(0);">Cart</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="footer-widget">
								<h4 class="widget-title">Download Apps</h4>
								<div class="app-wrap">
									<p><a href="JavaScript:Void(0);"><img src="~/img/light-play.png" class="img-fluid" alt=""></a></p>
									<p><a href="JavaScript:Void(0);"><img src="~/img/light-ios.png" class="img-fluid" alt=""></a></p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12">
							<p class="mb-0">© 2023 Veshm. Designd By <a href="https://themezhub.com">Themez Hub</a> All Rights Reserved</p>
						</div>

					</div>
				</div>
			</div>
		</footer>
		}
		<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messagemodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered message-pop-form" role="document">
				<div class="modal-content" id="messagemodal">
					<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
					<div class="modal-body">
						<div class="text-center">
							<h2 class="mb-0">Say Hi,</h2>
							<h4 class="mb-0">Mr. Dhananjay Preet</h4>
							<a class="text-success font--bold" href="tel:4048651904">(404) 865-1904</a>
						</div>
						<div class="message-form">
							<form>

								<div class="row">

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Message</label>
											<textarea class="form-control ht-60">I'm interested in 5689 Resot Relly, Canada. Please send me current availability and additional details.</textarea>
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Email*</label>
											<input type="email" class="form-control">
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Phone</label>
											<input type="text" class="form-control">
										</div>
									</div>

								</div>

								<div class="default-terms_wrap mb-3">
									<div class="default-terms_flex">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="msg" value="option1">
											<label class="form-check-label small font--medium" for="msg">By submitting this form, you agree to our <a href="JavaScript:Void(0);" title="Terms of Service" class="theme-cl font--medium">Terms of Service</a> and <a href="JavaScript:Void(0);" title="Privacy Policy" class="theme-cl font--medium">Privacy Policy</a>.</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn full-width btn-primary">Send Message</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="offer" tabindex="-1" role="dialog" aria-labelledby="offermodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered offer-pop-form" role="document">
				<div class="modal-content" id="offermodal">
					<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
					<div class="modal-body">
						<div class="text-center">
							<h2 class="mb-0">Bid Your Offer</h2>
							<h4 class="mb-0">For 5689 Resot Relly, Canada</h4>
							<a class="text-success font--bold" href="tel:4048651904">(404) 865-1904</a>
						</div>
						<div class="offer-form">
							<form>

								<div class="row">

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Name</label>
											<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Phone</label>
											<input type="text" class="form-control">
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="form-group">
											<label>Your Offer</label>
											<input type="text" class="form-control" placeholder="RM47,500">
										</div>
									</div>

								</div>

								<div class="default-terms_wrap mb-3">
									<div class="default-terms_flex">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="terms" value="option1">
											<label class="form-check-label small font--medium" for="terms">By submitting this form, you agree to our <a href="JavaScript:Void(0);" title="Terms of Service" class="theme-cl font--medium">Terms of Service</a> and <a href="JavaScript:Void(0);" title="Privacy Policy" class="theme-cl font--medium">Privacy Policy</a>.</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn full-width btn-primary">Submit Offer</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery and other dependencies -->
		<script src="~/js/popper.min.js" asp-append-version="true"></script>
		<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
		<script src="~/js/rangeslider.js" asp-append-version="true"></script>
		<script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
		<script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
		<script src="~/js/slick.js" asp-append-version="true"></script>
		<script src="~/js/lightbox.js" asp-append-version="true"></script>
		<script src="~/js/imagesloaded.js" asp-append-version="true"></script>
		<script src="~/js/dropzone.js" asp-append-version="true"></script>
		<script src="~/js/datedropper-javascript.js" asp-append-version="true"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/8.1.0/pica.min.js"></script>

		<script src="~/js/custom.js"></script>
		<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
		<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://code.jquery.com/ui/1.14.0-beta.2/jquery-ui.min.js" integrity="sha256-E7PeZTkHU61hmvmEMwtUMgm9Aff574wswy5F1Y0oIRA=" crossorigin="anonymous"></script>

@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">webapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - webapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
