<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>@ViewData["Title"] - Residence & Real Estate</title>

    <!-- Custom CSS -->
	<link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" asp-append-version="true" />

</head>
@* <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Residence & Real Estate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
</head> *@

<body>
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
    <div id="main-wrapper">
		<div class="header header-light head-shadow">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" class="logo" alt=""></a>
						<div class="nav-toggle"></div>
						<div class="mobile_nav">
							<ul>
								<li class="list-buttons">
									<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Log In</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li>
								<a href="#">Buy</a>
							</li>

							<li>
								<a href="#">Rent</a>
							</li>

							<li>
								<a href="#">Sell</a>
							</li>

							<li>
								<a href="JavaScript:Void(0);">About<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu">
									<li><a asp-area="" asp-controller="Home" asp-action="About">Our Team</a></li>
									<li><a asp-area="" asp-controller="Home" asp-action="Privacy">Terms & Privacy</a></li>
									<li><a asp-area="" asp-controller="Home" asp-action="Faq">FAQ's</a></li>
								</ul>
							</li>

							<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacts Us</a></li>

						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<partial name="_LoginPartial" />
							@* <li class="list-buttons light">
								<a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-sign-in-alt me-2"></i>Sign In</a>
							</li>
							<li class="list-buttons ms-2">
								<a href="signup.html"><i class="fas fa-user-alt me-2"></i>Sign Up</a>
							</li> *@
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<div class="clearfix"></div>

		@RenderBody()

		@* call to action *@
		<section class="bg-cover call-action-container dark" style="background:#065eb5 url('@Url.Content("~/img/footer-bg-dark.png")') no-repeat;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12">

						<div class="call-action-wrap">
							<div class="call-action-caption">
								<h2 class="text-light">Are You Already Working With Us?</h2>
								<p class="text-light">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
							</div>
							<div class="call-action-form">
								<form>
									<div class="newsltr-form">
										<input type="text" class="form-control" placeholder="Enter Your email">
										<button type="button" class="btn btn-subscribe">Subscribe</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		@* footer *@
		<footer class="skin-light-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-4">
							<div class="footer-widget">
								<img src="~/img/logo.png" class="img-footer" alt="">
								<div class="footer-add">
									<p>Collins Street West, Victoria 8007, Australia.</p>
									<p><span class="ftp-info"><i class="fa fa-phone" aria-hidden="true"></i>+1 246-345-0695</span></p>
									<p><span class="ftp-info"><i class="fa fa-envelope" aria-hidden="true"></i>info@example.com</span></p>
								</div>

							</div>
						</div>
						<div class="col-lg-2 col-md-4">
							<div class="footer-widget">
								<h4 class="widget-title">Navigations</h4>
								<ul class="footer-menu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="faq.html">FAQs Page</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="blog.html">Blog</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4">
							<div class="footer-widget">
								<h4 class="widget-title">The Highlights</h4>
								<ul class="footer-menu">
									<li><a href="JavaScript:Void(0);">Apartment</a></li>
									<li><a href="JavaScript:Void(0);">My Houses</a></li>
									<li><a href="JavaScript:Void(0);">Restaurant</a></li>
									<li><a href="JavaScript:Void(0);">Nightlife</a></li>
									<li><a href="JavaScript:Void(0);">Villas</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-6">
							<div class="footer-widget">
								<h4 class="widget-title">My Account</h4>
								<ul class="footer-menu">
									<li><a href="JavaScript:Void(0);">My Profile</a></li>
									<li><a href="JavaScript:Void(0);">My account</a></li>
									<li><a href="JavaScript:Void(0);">My Property</a></li>
									<li><a href="JavaScript:Void(0);">Favorites</a></li>
									<li><a href="JavaScript:Void(0);">Cart</a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="footer-widget">
								<h4 class="widget-title">Download Apps</h4>
								<div class="app-wrap">
									<p><a href="JavaScript:Void(0);"><img src="~/img/light-play.png" class="img-fluid" alt=""></a></p>
									<p><a href="JavaScript:Void(0);"><img src="~/img/light-ios.png" class="img-fluid" alt=""></a></p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12">
							<p class="mb-0">© 2023 Veshm. Designd By <a href="https://themezhub.com">Themez Hub</a> All Rights Reserved</p>
						</div>

					</div>
				</div>
			</div>
		</footer>

		@* login modal *@
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
				<div class="modal-content" id="registermodal">
					<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-close"></i></span>
					<div class="modal-header">
						<div class="mdl-thumb"><img src="~/img/ico.png" class="img-fluid" width="70" alt=""></div>
						<div class="mdl-title"><h4 class="modal-header-title">Hello, Again</h4></div>
					</div>
					<div class="modal-body">
						<div class="modal-login-form">
							<form id="loginModalForm">
								<div class="form-floating mb-4">
									<input type="email" class="form-control" placeholder="name@example.com">
									<label>User Name</label>
								</div>

								<div class="form-floating mb-4">
									<input type="password" class="form-control" placeholder="Password">
									<label>Password</label>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary full-width font--bold btn-lg">Log In</button>
								</div>

								<div class="modal-flex-item mb-3">
									<div class="modal-flex-first">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="savepassword" value="option1">
											<label class="form-check-label" for="savepassword">Save Password</label>
										</div>
									</div>
									<div class="modal-flex-last">
										<a href="JavaScript:Void(0);">Forget Password?</a>
									</div>
								</div>
							</form>
						</div>
						<div class="social-login">
							<ul>
								<li><a href="JavaScript:Void(0);" class="btn connect-fb"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
								<li><a href="JavaScript:Void(0);" class="btn connect-google"><i class="fa-brands fa-google"></i>Google+</a></li>
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<p>Don't have an account yet?<a asp-area="Identity" asp-page="/Account/Register" class="theme-cl font--bold ms-1">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
		<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    </div>

@* 	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/rangeslider.js"></script>
	<script src="~/js/jquery.nice-select.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/slick.js"></script>
	<script src="~/js/lightbox.js"></script>
	<script src="~/js/imagesloaded.js"></script>
	<script src="~/js/dropzone.js"></script>
	<script src="~/js/datedropper-javascript.js"></script> *@

	<!-- jQuery and other dependencies -->
	<script src="~/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/js/popper.min.js" asp-append-version="true"></script>
	<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/js/rangeslider.js" asp-append-version="true"></script>
	<script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
	<script src="~/js/slick.js" asp-append-version="true"></script>
	<script src="~/js/lightbox.js" asp-append-version="true"></script>
	<script src="~/js/imagesloaded.js" asp-append-version="true"></script>
	<script src="~/js/dropzone.js" asp-append-version="true"></script>
	<script src="~/js/datedropper-javascript.js" asp-append-version="true"></script>



	<script src="~/js/custom.js"></script>
	<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	@* <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script> *@
	<script>
		// $.fn.DataTable.ext.classes.search.input = "form-control form-control-sm"
		// $.fn.DataTable.ext.classes.length.select = "";
	</script>

@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">webapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - webapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
